<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Assignment03</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/styles.css" rel="stylesheet">
</head>

<body>
<h3>Roopam Verma 7590</h3>

<div class="container">
    <form action = "/selectBQuery" method="POST" enctype="multipart/form-data">
        
            <label for="time1">Enter min Time: </label>
            <input type="text" value="" id="time1" name="time1"><br><br>
        
            <label for="time2">Enter min Time: </label>
            <input type="text" value="" id="time2" name="time2"><br><br>
        
            <button type="submit" value="Search">Search</button>

</div>

<div class="container">
    <form action = "/selectBQuery" method="POST" enctype="multipart/form-data">
        
            <label for="time1">Enter min Time: </label>
            <input type="text" value="" id="time1" name="time1"><br><br>
        
            <label for="time2">Enter min Time: </label>
            <input type="text" value="" id="time2" name="time2"><br><br>

            <label for="count">Enter Count: </label>
            <input type="text" value="" id="count" name="count"><br><br>
        
            <button type="submit" value="Search">Search</button>

</div>